---
# Only the main Sass file needs front matter (the dashes are enough)
#
# This file has been included in order to make some changes to the style.
# This is safe because it should not be updated often.
# See: https://github.com/mmistakes/minimal-mistakes/issues/1453
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

///////////////////////////////////////////////////////////////////////////////
// Custom changes

// Profile pictures in the People page
.grid__item.members {
    text-align: left;

}
img.portrait {
        width: 200px;
        height: auto;
        margin: auto;
        padding: 0px;
        object-fit: contain;
object-position: center;
box-sizing:content-box; //again, just an attempt to fix current issue, no effect...
max-width:100%;
border:1px solid black;
}

.page {
        padding-right: 0px;
}

iframe {
        padding-top: 10px;
        padding-bottom: 10px;
}

a {
        text-decoration: none;
}

.news dt {
        margin: 0px;
        margin-top: 0.5em;
}
.news p {
        font-size: 1.2em;
        margin: 0px;
}

// Reduce font sizes
// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 12px; // originally 16px
    @include breakpoint($medium) {
        font-size: 14px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 16px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
    max-width: 1000px;
    padding: auto;
    margin: auto;
}

